fastapi
uvicorn
pydantic
langchain
langchain-classic
langchain-google-genai
langchain-community
langchain-text-splitters
faiss-cpu
pymupdf
python-docx
python-dotenv
rank_bm25
presidio_analyzer
presidio_anonymizer
ragas
datasets
